// Desc - tasks
var $tasks = ajax_prepare_item( $('.tasks') );

// Incomes 
$('.income_label').each( function(e) {
	$copy_link = $(' <a class="copy" href="#">(c)</a>');
	$(this).append($copy_link);
	$(this).find('a.copy').click( function(e) {
		e.preventDefault();		
		var I = $(this).parent().data('income');
		$('input[id*="Incomes_'+I+'_value"]').each(  function(e) {
				$(this).val($(this).parents('tr').find('input[id$="_value"]:first').val());	
		});
	});	
});

$('.switch_values').click( function(e) {
	e.preventDefault();		
	var td = $(this).parent('td');
	var left = td.prev().find('input');
	var right = td.next().find('input');
	var left_val = left.val();
	var right_val = right.val();
	left.val(right_val);
	right.val(left_val);
});	

$('.copy_values').click( function(e) {
	e.preventDefault();		
	var td = $(this).parent('td');
	var left = td.prev().find('input');
	var right = td.next().find('input');
	right.val(left.val());
});	

