$('.income_label').each( function(e) {
	$copy_link = $(' <a class="copy" href="#">(c)</a>');
	$(this).append($copy_link);
	$(this).find('a.copy').click( function(e) {
		e.preventDefault();		
		var I = $(this).parent().data('income');
		$('input[id*="Incomes_'+I+'_value"]').each(  function(e) {
				$(this).val($(this).parents('tr').find('input[id$="_value"]:first').val());	
		});
	});	
});

$('.switch_values').click( function(e) {
	e.preventDefault();		
	var td = $(this).parent('td');
	var left = td.prev().find('input');
	var right = td.next().find('input');
	var left_val = left.val();
	var right_val = right.val();
	left.val(right_val);
	right.val(left_val);
});	

$('.copy_values').click( function(e) {
	e.preventDefault();		
	var td = $(this).parent('td');
	var left = td.prev().find('input');
	var right = td.next().find('input');
	right.val(left.val());
});	

form_collection($('#Tasks'),
		  {root:'#Tasks',lev:0,form:'.task_form',
			   add_link:'(+)',add_link_appendto:'.tasks_label',new_form:'#Task_prototype', new_form_appendto:'.tasks_list',  replace_names:['Tasks'],         
			   rem_link:'(x)',rem_link_appendto:'.task_form',parent_toremove:'.task',
			   form_focusin:'input[id$="desc"]',dialog_form:'#Tform'});

function Tform_init($form, $dialog_form) {
	$dialog_form.find('input[id$="desc"]').val($form.find('input[id$="desc"]').val());
	$dialog_form.find('textarea[id$="comment"]').val($form.find('textarea[id$="comment"]').val());
	var task_user_id = $form.find('input[id$="user_id"]').val();
	if( task_user_id == 0) {
		task_user_id = user_id;
	}	 
	$dialog_form.find('select[id$="User"]').find('option[value="' + task_user_id + '"]').prop('selected', true);
	$dialog_form.find('input[id$="send_reminder"]').attr('checked',$form.find('input[id$="reminder"]').attr('checked'));
} 

function Tform_ok($form, $dialog_form) {
	$form.find('input[id$="desc"]').val($dialog_form.find('input[id$="desc"]').val());	
	
	var comment = $dialog_form.find('textarea[id$="comment"]').val();	
	$form.find('textarea[id$="comment"]').val(comment);
	
	var send_reminder = $dialog_form.find('input[id$="send_reminder"]').prop('checked');
	$form.find('input[id$="send_reminder"]').prop('checked',send_reminder);		
	
	var task_user_id = $dialog_form.find('select[id$="User"]').find('option:selected').val();	
	if( task_user_id > 0) { 		
		$form.find('input[id$="user_id"]').val(task_user_id);										
	}
	$form.siblings('.task_comment').html(comment.replace(new RegExp('\r?\n','g'), '<br />'));
}
