{% extends "AppBundle::layout.html.twig" %}

{% block content %}

<div class="content-header">
	<div class='title'> Pomoc </div> 
</div>

<div class="help">
{{  include('@App/Settings/help.md')|md2html }}
</div>

{% endblock %}

