{% form_theme form 'AppBundle:Form:fields_inline.html.twig' %}

<table class="form list">
<tbody>
	<tr><th></th>
		<th>{%trans%}headers.common.name{%endtrans%} </th> 
		<th>{%trans%}headers.common.symbol{%endtrans%} </th>  
		<th>{%trans%}headers.common.value{%endtrans%} </th></tr>	

	{% for Parameter in form.Parameters %}
	<tr>{% if Parameter.name.vars.value == 'separator' %}
		<th> {{ Parameter.label.vars.value }} </th> <td></td><td></td><td></td>
		{%else%}
		<td></td>
		<td> {{ Parameter.label.vars.value }}  </td> 
		<td> {{ Parameter.name.vars.value }}  </td> 
		<td > {{ form_widget(Parameter["value_"~Parameter.field_type.vars.value],
					{'attr':{'class':Parameter.field_type.vars.value}}) }} </td>
		{%endif%}
	</tr>
	{% endfor %}
		
</tbody>
</table>	




