</br>
<table class="form list">
<tbody>
	<tr><th>{%trans%}headers.common.name{%endtrans%} </th>
	    <th>{%trans%}headers.common.groups{%endtrans%} </th> </tr>
    {% for user in data.users %}
        <tr><td><a href="{{ path('oppen_user_edit', {'user_id': user.getId()} ) }}">
        {{ user.getUsername() }}</a></td>
        <td> {% for group in user.groups %} {{group.name}} {% endfor %} </td></tr>
    {% endfor %}
</tbody>
</table>	




