<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>

{% stylesheets  filter='cssrewrite'
	'css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

    </head>
    <body>
	
	<div id="pages">	
		{% for page in pages %}
			<div class="{% if loop.last %}last-{% endif %}page">{{ page|raw }}</div>	
		{% endfor %}			
	</div>
	
   </body>
   
	<script type="text/javascript">

         window.print();

	</script>    
</html>
