{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{{ form_start(form, {'method': 'post'}) }}

<div class="content-header">
	<div class='title'>  
		 Użytkownik: {{form.username.vars.value}}
	</div> 
	
	<div class='toolbar'>
		<span><input type="submit" value="Zapisz" id="submit" /></span>				
	</div>
</div>

{{ form_widget(form) }}

{{ form_end(form) }}
