{% extends "OppenProjectBundle::layout.html.twig" %}

{% block content %}
{% if error %}
    <div class="error">{{ error.message }}</div>
{% endif %}

<form action="{{ path('_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </br></br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    </br></br>
    <input type="hidden" name="_home" value="/account" />

    <button type="submit">login</button>
</form>
{% endblock %}
